
.game{
  text-align: -webkit-center;

  $base-sec:0.3s;

  @keyframes mymove {
    50% {font-size: 2.5rem; color: black;}
  }

  .score{
    font-size: 1.5rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1976d2;
    .number{
      animation: mymove 1s;
    }
    // span{
    //   font-size: 2rem;

    // }
  }

  .game-over{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }
  }

  .game-board{
    display: table;
    margin-bottom: 10px;
    border: 20px solid black;


    

    .game-board-row{
      display: table-row;
    }
    .game-board-cell{
      display: table-cell;
      width: 20px;
      height: 20px;
    }
    .snake{
      background-color: green;
      opacity: 0.8;
    }
    .empty{
      background-color: white;
    }
    .food{
      background-color: blue;
      -moz-transition: all $base-sec ease-in;
      -o-transition: all $base-sec ease-in;
      -webkit-transition: all $base-sec ease-in;
      transition: all $base-sec ease-in;
      
    }
    .snake-head{
      background-color: green;
      opacity: 1;
      border: lime solid-1px;
    }
  }

}